.box {
    border: 4px solid lightgray;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

  /* 이미지 스타일 */
.item-img {
    width: 9rem;
    margin: 1rem 0;
}

  /* 박스 묶음 레이아웃 */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 1rem;
}

.box.win {
    border-color: green;
}
.box.lose {
    border-color: red;
}
.box.tie {
    border-color: goldenrod;
}

.result-text.win {
    color: green;
}
.result-text.lose {
    color: red;
}
.result-text.tie {
    color: goldenrod;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
    gap: 1rem;
}
.score-board .win{
    color: green;
}
.score-board .lose {
    color: red;
}
.score-board .divider {
    color: #444;
}

.icon-btn {
    all: unset;
    cursor: pointer;
    margin: 10px;
}

.icon-btn:hover {
    transform: scale(1.1);
}

.icon-img {
    width: 55px;
    height: 55px;
}

.reset-btn {
    all: unset;
    cursor: pointer;
}

.reset-btn img {
    width: 45px;
    height: 45px;
}

.reset-btn:hover {
    transform: scale(1.1);
}